.product_box_container{
    width: 250px;
    height: 250px;
    margin: 15px;
    /* border: 2px solid green; */
    box-shadow: -5px 5px 5px 0  crimson;
    cursor: pointer;
    /* justify-content: space-between; */

}

.product_box_container:hover{
    transform: scale(1.2);
    transition: transform 0.5s;
}
.product_box_image_container>img{
    width: 200px;
    height: 200px;
}

.product_box_details{
    align-items: center;
    font-size: 15px;
    font-weight: 700;

}